$navbar-height: 51px;
$padding-vertical: 15px;
$wagtail-color: rgb(0, 127, 127);
$html-background-color: whitesmoke;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import "bower_components/foundation/scss/foundation.scss";
html {
    background-color: $html-background-color;
}

/* fonts */
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background-color: $background-color;
}

