{% extends "demo/base.html" %}
{% load wagtailcore_tags demo_tags %}

{% block content %}

    {# Listing created with a tag - allows filtering by whether the page is live #}
    {# See also the blog index or events index where the listing is created from a method defined in models.py #}
    <div class="row">
        <div class="photos">
            <div class="photobox large">
                <div class="photo">

                </div>
            </div>

            <div class="photobox">
                <div class="photo"></div>
            </div>
            <div class="photobox">
                <div class="photo"></div>

            </div>
            <div class="photobox">
                <div class="photo"></div>

            </div>
            <div class="photobox">
                <div class="photo"></div>

            </div>
            <div class="photobox">
                <div class="photo"></div>

            </div>
            <div class="photobox">
                <div class="photo"></div>

            </div>
            <div class="photobox">
                <div class="photo"></div>

            </div>
            <div class="photobox">
                <div class="photo"></div>

            </div>
            <div class="photobox">
                <div class="photo"></div>

            </div>
            <div class="photobox">
                <div class="photo"></div>

            </div>
        </div>
    </div>
{% endblock %}
