{% load demo_tags wagtailcore_tags %}
{% get_site_root as site_root %}

{# Implementation of bootstrap theme dropdown menu - shows top level links and their children #}
<div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav">

            <!--{% for menuitem in menuitems %}-->
                <!--<li>-->
                    <!--<a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>-->
                <!--</li>-->
            <!--{% endfor %}-->
        </ul>
    </div>
</div>
